<ol class="schedule">
    {%- set empty = true -%}
    {%- for day in collections.schedule -%}
        {%- if day.events -%}
            {%- set empty = false -%}
            <li class="day">
                <time datetime="{{ day.key }}">{{ day.date.toLocaleDateString("en-GB", {weekday: "long"}) }} {{ day.date.toLocaleDateString("en-GB", {day: "numeric", month: "numeric"}) }}</time>
                <ul class="events">
                    {%- for event in day.events -%}
                        <li class="event" data-calendar="{{ event.calendar }}">
                            {{ event.summary }}
                            {% if event.start -%}
                                &middot; {{ event.start.toLocaleTimeString("en-GB", {hour: "2-digit", minute: "2-digit"}) }}
                                {%- if event.end -%}
                                    -{{ event.end.toLocaleTimeString("en-GB", {hour: "2-digit", minute: "2-digit"}) }}
                                {%- endif -%}
                            {%- endif %}
                            {%- if event.location -%}<span>{{ event.location }}</span>{%- endif -%}
                        </li>
                    {%- endfor -%}
                </ul>
            </li>
        {%- endif -%}
    {%- endfor -%}
    {%- if empty -%}
        <li class="empty">
            No events this week.
        </li>
    {%- endif -%}
</ol>